[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
docs = "sh -c 'cd docs; make clean html; xdg-open build/html/index.html'"
example = "python3 example.py"
package = "python3 -m build"

[packages]
lazy-signals = {file = ".", editable = true}

[dev-packages]
sphinx = "*"
sphinx-rtd-theme = "*"
build = "*"
twine = "*"

[requires]
python_version = "3.13"
