[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
docs = "sh -c 'cd docs; make clean html'"
read = "xdg-open docs/_build/html/index.html"
example = "python3 example.py"
package = "python3 -m build"

[packages]
lazy-signals = {file = ".", editable = true}

[dev-packages]
sphinx = "*"
sphinx-autoapi = "*"
sphinx-mdinclude = "*"
sphinx-rtd-theme = "*"
build = "*"

[requires]
python_version = "3.13"
